<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wit.mytweet">
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".main.MyTweetApp"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.Welcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SignUp"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activity.LogIn"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activity.TweetList"
            android:label="@string/my_tweet_feed" >
        </activity>

        <activity
            android:name=".activity.NewTweet"
            android:label="@string/app_name" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.TweetList"/>
        </activity>

        <activity
            android:name=".activity.TweetDisplay"
            android:label="@string/app_name" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.TweetList"/>
        </activity>

        <activity
            android:name=".activity.UserTweetList"
            android:label="@string/my_tweet_profile" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".activity.TweetList"/>
        </activity>

        <activity
            android:name=".activity.UserNewTweet"
            android:label="@string/my_tweet_profile" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".activity.UserTweetList"/>
        </activity>

        <activity
            android:name=".activity.Settings"
            android:label="@string/settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.TweetList"/>
        </activity>
    </application>

</manifest>